body {
  margin:0px;
  padding:0px;
  font-family: sans-serif;
  font-size: 0.8em;
}

#treeicon {
  z-index: 1000;
  position: absolute;
  padding: 3px;
  cursor: pointer;
  vertical-align: middle;
  background-color:rgba(0,0,0,.7);
}

#data_path {
  margin-left: 6px;
  color: white;
  vertical-align: super;
  margin-top: 6px;
}

#nav_container {
  padding: 6px;
  background-color:rgba(0,0,0,.7);
  /*border: solid white 1px;*/
  /*min-width: 200px;*/
  z-index: 200;
  position:absolute;
  top:38px;
  left:0px;
  bottom:80px;  
  overflow: hidden;  
}

#nav {
  margin-right: 10px;
}

.viewers {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
}

#viewers {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
}

#viewer2 {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  display: none;
}

#controls {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  bottom:0;
  left:0;
  padding: 10px;
  /*padding-left: 10px;*/
  z-index: 100;
  height: 60px;
}

.labels {
  margin-bottom: 10px;
  display: none;
  /*border-bottom: solid darkgrey 1px;*/
}

.label {
  font-size: 10px;
  color: white;
  font-family: sans-serif;
}

.range {
  width: 160px;
  position: relative;
  margin-top: 3px;
  /*margin: 20px auto;*/
  border: 0;
  height: 2px;
  background: #959799;
  outline: none;
  /*height: 0.2em;*/
}

.range .ui-slider-handle {
  position: absolute;
  margin: 0px 0 0 -9px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 10px;
  width: 10px;
  outline: none;
  cursor: pointer;
}

/*.range .ui-slider-handle:hover,
.range .ui-slider-handle:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}*/

.range .ui-slider-range { background: #007aff; }

.range .currentVal {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #b8b8b8;
  width: 160px;
  text-align: center;
  margin-top: -10px;
}

